#global-error {

	font-size: 1.2rem;

	h1 {
		font-size: 3rem;
		text-align: center;
		padding: 40px 0;
		margin-bottom: 40px;
		background-color: #eee;
	}

	i {
		font-size: 8rem;
		margin: 0 10%;
		float:left;
	}

	p {
		margin-bottom: 50px;
	}
}
