@import 'variables';
@import 'classes';


/**
 * Map section
 */
#map {
	width: 100%;
	height: 100vh;

}

/**
 * Preview section
 */
#preview {
	position: fixed;
	z-index: 5;
	left: 0;
	bottom: 0;

	img {
		display: block;
		float: left;
		width: $iconWidth;
		height: $iconHeight;
	}
}

/**
 * Notices section
 */
#notices {
	position: fixed;
	right: 0;
	bottom: 100px;
	width: $actionsWidth;
	background-color: $sidesBg;
	padding: 5px 10px;
	border: 1px solid $sidesBorderColor;
	border-bottom: 0;
}

/**
 * Actions section
 */
#actions {
	position: fixed;
	right: 0;
	bottom: 0;
	width: $actionsWidth;
	height: 100px;
	background-color: $sidesBg;
	border-top: 1px solid $sidesBorderColor;
	border-left: 1px solid $sidesBorderColor;

	#add-pict {
		// Provider buttons
		.provider {
			display: block;
			width: 180px;
			margin: 5px 10px;
			padding: 3px 5px;
			float: right;
			white-space: nowrap;
			overflow: hidden;

			// Provider logo
			i {
				margin-right: 5px;
			}

			&.active-animated {
				transition: width 1s;
			}

			&.active {
				width: 20px;
			}
		}

		// Facebook
		#add-pict-fb {
			background-color: #44619D;
			color: #fff;
		}

		// Options
		.providerOpts {
			padding: 8px 5px;
		}
	}

}

/**
 * Overlays
 */
.overlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
	@extend .user-select;
}

#overlay-notices {
	bottom: 0;
	right: 0;
	width: $actionsWidth;
	height: $actionsHeight;
	text-align: center;
	padding-top: 30px;
	border-top: 1px solid $sidesBorderColor;
	border-left: 1px solid $sidesBorderColor;
}

#overlay-global {
	width:100%;
	height:100vh;
	top:0;
	left:0;
}

/**
 * Popup
 */
.popup {
	position: fixed;
	top:40%;
	left:30%;
	z-index: 10;
	width:40%;
	background-color: #fff;
	padding: 10px 10px 0;
	font-size: 1rem;
	color: #f00;

	p {
		margin-bottom: 10px;
	}

	.popup-button {
		text-align: center;
		margin-top: 20px;
		color: #000;
	}
}
