$sidesBg: rgba(255, 255, 255, 0.7);

/**
 * Global
 */
#global {
	position: relative;
}

/**
 * Map section
 */
#map {
	width: 100%;
	height: 100vh;

}

/**
 * Notices section
 */
#notices {
	position: fixed;
	right: 0;
	bottom: 100px;
	width: 200px;
	background-color: $sidesBg;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}

/**
 * Actions section
 */
#actions {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 100px;
	background-color: $sidesBg;

	#add-pict {
		// Provider buttons
		.provider {
			display: block;
			width: 180px;
			transition: width 1s;
			margin: 5px 10px;
			padding: 3px 5px;
			float: right;

			// Provider logo
			i {
				margin-right: 5px;
			}

			&.active {
				width: 20px;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		// Facebook
		#add-pict-fb {
			background-color: #44619D;
			color: #fff;
		}

		// Options
		.providerOpts {
			padding: 8px 5px;
		}
	}

}

/**
 * Classes
 */
.center {
	text-align:center;
}
.clearfix {
	clear: both;
}

.hidden {
	display: none;
}

ul.nostyle {
	list-style-type: none;
	margin: 0;
}
