@import 'variables';
@import 'classes';

/**
 * Global
 */
#global {
	position: relative;
}

/**
 * Map section
 */
#map {
	width: 100%;
	height: 100vh;

}

/**
 * Notices section
 */
#notices {
	position: fixed;
	right: 0;
	bottom: 100px;
	width: $actionsWidth;
	background-color: $sidesBg;
	padding: 5px 10px;
	border: 1px solid $sidesBorderColor;
	border-bottom: 0;
}

/**
 * Actions section
 */
#actions {
	position: fixed;
	right: 0;
	bottom: 0;
	width: $actionsWidth;
	height: 100px;
	background-color: $sidesBg;
	border-top: 1px solid $sidesBorderColor;
	border-left: 1px solid $sidesBorderColor;

	#add-pict {
		// Provider buttons
		.provider {
			display: block;
			width: 180px;
			transition: width 1s;
			margin: 5px 10px;
			padding: 3px 5px;
			float: right;

			// Provider logo
			i {
				margin-right: 5px;
			}

			&.active {
				width: 20px;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		// Facebook
		#add-pict-fb {
			background-color: #44619D;
			color: #fff;
		}

		// Options
		.providerOpts {
			padding: 8px 5px;
		}
	}

}

/**
 * Overlays
 */
.overlay {
	position: fixed;
	background: rgba(0,0,0,0.5);
	z-index: 5;
	@extend .user-select;

	&.overlay-notices {
		bottom: 0;
		right: 0;
		width:$actionsWidth;
		height: $actionsHeight;
		text-align: center;
		padding-top: 30px;
		border-top: 1px solid $sidesBorderColor;
		border-left: 1px solid $sidesBorderColor;
	}
}
